---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const projects = [
  {
    title: "looty",
    description:
      "A rewarding mechanism on EVM chains (Avalanche, BSC) featuring NFT-based rewards system. Led product development and engineering, achieving significant organic growth through user engagement and streaming content.",
    tags: ["Solidity", "React", "Node.js", "Web3", "NFTs"],
    link: "https://looty.fi",
  },
  {
    title: "unique",
    description:
      "Built a comprehensive DAO governance and treasury management platform on Solana blockchain at Unique VC, enabling secure fund management and customizable governance structures.",
    tags: ["Solana", "React", "TypeScript", "Web3"],
    link: "https://unique.vc",
  },
  {
    title: "primes-nft",
    description:
      "Developed a platform for minting NFTs with a focus on creating a seamless experience for users.",
    tags: ["React", "TypeScript", "Web3", "NFTs"],
    link: "https://www.theprimes.io/",
  },
  {
    title: "lotusflare-portal",
    description:
      "Designed and developed a cutting-edge B2B customer portal with a multi-tenant architecture tailored for mobile operators, leveraging Vue.js for a dynamic front-end and PHP for a robust back-end. Focused on integrating key microservices, including Charging Specification, Services, Products, Offers, User Management, Analytics, and Reporting systems, to ensure seamless interoperability and scalability. Directed an innovative R&D initiative to develop an immersive virtual store using Unreal Engine, revolutionizing product showcases and driving enhanced customer engagement, ultimately elevating sales presentations and client satisfaction",
    tags: ["Microservices", "Vue.js", "PHP", "Unreal Engine"],
    link: "https://lotusflare.com/",
  },
  {
    title: "pdftools-portal",
    description:
      "Developed a customer portal for Pdftools, a Swiss company that provides PDF tools and services.",
    tags: ["React", "Next.js", "PostgreSQL"],
    link: "https://portal.pdf-tools.com",
  },
  {
    title: "pdftools-website",
    description:
      "Developed a website for Pdftools, a Swiss company that provides PDF tools and services.",
    tags: ["React", "TypeScript", "Gatsby"],
    link: "https://pdf-tools.com",
  },
];
---

<Layout title="Projects - Product Engineer Portfolio">
  <div class="max-w-4xl mx-auto px-4 py-12">
    <h1 class="text-3xl font-bold mb-8">Featured Projects</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {projects.map((project) => <ProjectCard {...project} />)}
    </div>
  </div>
</Layout>
