---
interface Props {
  institution: string;
  degree: string;
  period: string;
  field: string;
}

const { institution, degree, period, field } = Astro.props;
---

<div class="bg-black p-4 border-2 border-dark-800 font-mono">
  <div class="flex justify-between items-start">
    <div>
      <h3 class="text-lg text-gray-500">$ cat {institution}</h3>
      <p class="text-gray-500 mt-2 pl-4">> {degree}</p>
      <p class="text-gray-300 pl-4">> {field}</p>
    </div>
    <span class="text-gray-400">{period}</span>
  </div>
</div>
