<header class="py-4 px-4 bg-black border-b border-dark-800">
  <nav class="max-w-4xl mx-auto flex justify-between items-center font-mono">
    <a href="/" class="text-xl text-dark-500 hover:text-gray-400">
      > cd ~/portfolio
    </a>
    <div class="flex items-center space-x-8">
      <div class="hidden md:flex space-x-6">
        <a
          href="/projects"
          class={`${Astro.url.pathname === "/projects" ? "text-white" : "text-dark-500"} hover:text-gray-200`}
          >/projects</a
        >
      </div>
    </div>
  </nav>
</header>
