---
import { ExternalLink } from "lucide-astro";

interface Props {
  title: string;
  description: string;
  tags: string[];
  link: string;
}

const { title, description, tags, link } = Astro.props;
---

<div class="bg-black p-4 border-2 border-dark-800 font-mono">
  <div class="flex justify-between items-start mb-4">
    <h3 class="text-lg text-dark-800">./projects/{title}</h3>
    {
      link && (
        <a
          href={link}
          class="text-gray-100 hover:text-gray-300"
          target="_blank"
        >
          <ExternalLink size={20} />
        </a>
      )
    }
  </div>
  <p class="text-gray-300 mb-4 pl-4 border-l-2 border-gray-500">
    {description}
  </p>
  <div class="flex flex-wrap gap-2">
    {
      tags.map((tag) => (
        <span class="px-2 py-1 bg-black border border-gray-500 text-gray-500 text-sm">
          [{tag}]
        </span>
      ))
    }
  </div>
</div>
